@1: #0D1F2D;
@2: #233340;
@3: #546A7B;
@4: #82929F;
body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    line-height: normal;
}
header {
    width: calc(~"100% - 40px");
    background-color: @1;
    border-bottom: 5px solid @3;
    padding: 20px;
    h1 {
        color: @4;
        font-weight: normal;
    }
    strong {
        color: white;
    }
    div {
        display: inline-block;
        background: url("../dropdown.svg") no-repeat right, white;
        border-radius: 10px 0 0 10px;
    }
    select {
        width: 100px;
        padding: 10px;
        margin: 0;
        background: transparent;
        font-size: 16px;
        line-height: 20px;
        border: none;
        border-radius: 10px 0 0 10px;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input {
        display: inline-block;
        width: calc(~"100% - 271px");
        padding: 10px;
        line-height: 20px;
        font-size: 16px;
        border: none;
        border-radius: 0 10px 10px 0;
        outline: none;
    }
    img {
        display: inline-block;
        width: 130px;
        padding: 0 10px;
    }
}

#results {
    margin: 0;
    padding: 0;
    li {
        padding: 20px;
        border-bottom: 1px dashed @4;
        list-style: none;
    }
    code {
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        // Safari suddenly thought my <header> was contenteditable, and let me
        // backspace it. That doesn't happen every day. Moving on...
    }
    a {
        color: @1;
    }
}
